ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
}
li {
float: left;
}
li a, .dropbtn {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover, .Desplegable:hover .dropbtn {
background-color: blue;
}
.Desplegable-Contenido {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.Desplegable-Contenido a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}
.Desplegable-Contenido a:hover {
background-color: #f1f1f1;
}
.Desplegable:hover .Desplegable-Contenido {
display: block;
}
.Portada{
background-color: lightblue;
height: 888px;
}
.Texto{
text-align: center;
font-size: 50px;
text-decoration: underline;
}
.Imagen{
display: block;
margin-left: auto;
margin-right: auto;
}
.FlechaD{
width: 100px;
height: 100px;
float: right;
position: relative;
top: 490px;
}
.FlechaI{
width: 100px;
height: 100px;
float: left;
position: relative;
top: 490px;
}
.Conexion{
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
width: 50%;
float: left;
}
.Introduccion{
text-align: center;
}
.Comandos{
text-align: center;
}